
@import "variables";

//base
@import "base/reset";
@import "base/tools";
@import "base/basics";


//layout
@import "components/chatbot";

//component
.slider {
   height: calc(100vh - 100px);
}

.slick-list {
   height: calc(100vh - 100px);
} 

.page{
	h1{
		text-align: center;
		padding: 10px 0;
		color: $white; 
		background-color: $color-main;
		text-transform: uppercase;
		margin-bottom: 10px;
		padding: 10px 10px;
	}
	p{
		padding: 0 10px;
	}
}

	








