@import "variables";

//base
@import "base/reset";
@import "base/tools";
@import "base/basics";


//layout



//component

.parallax {
	background-image:  url(../static/img/background.jpg);
	height:  100vh;
	background-attachment:  fixed;
	background-repeat:  no-repeat;
	background-position:  top;
	background-size:  cover;
	position:  relative;
}






